@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap');

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  .mat-icon-button {
    margin-right: 1rem;
  }
}
.header-toolbar{
  margin-bottom: 2rem;
}

.title {
  font-family: 'Sedgwick Ave Display';
  font-weight: bold;
}
