<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="mat-h1, title">Craftsmen R' Us</h1>
    <div class="icons">
      <a
        mat-icon-button
        aria-hidden="false"
        aria-label="Toolbox icon"
        routerLink="/toolbox"
      >
        <mat-icon>business_center</mat-icon>
      </a>
      <a
        mat-icon-button
        aria-hidden="false"
        aria-label="Tool icon"
        routerLink="/tools"
      >
        <mat-icon>build</mat-icon>
      </a>
      <a
        mat-icon-button
        aria-hidden="false"
        aria-label="Person icon"
        routerLink="/craftsmen"
      >
        <mat-icon>person</mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
