<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panel-header">
      <mat-icon mat-list-icon>build</mat-icon>
      {{ tool.model }} {{ tool.type }}
    </mat-panel-title>
    <mat-panel-description class="panel-header">
      Tool Details
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Make: {{ tool.make }}</p>
  <p>Color: {{ tool.color }}</p>
  <p>Serial Number: {{ tool.serialNumber }}</p>
  <p *ngIf="tool.acquired">
    Date Aquired:
    {{ tool.acquired.toLocaleString('en-GB', {}) }}
  </p>
  <div class="action-buttons">
    <button mat-raised-button (click)="onEditClick()">Edit</button>
    <button mat-raised-button color="warn" (click)="onDeleteClick()">
      Delete
    </button>
  </div>
</mat-expansion-panel>
