.new-tool-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
  mat-form-field {
    width: 100%;
  }
  button {
    width: auto;
  }
}
