.panel-header {
  align-items: center;
  mat-icon {
    padding-right: 10px;
  }
}

mat-expansion-panel {
  margin: 3px;
}

.mat-expansion-panel-spacing {
  margin-bottom: 16px !important;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin-right: auto;
  button {
    margin-right: 1rem;
  }
}
