.panel-header {
  align-items: center;
  mat-icon {
    padding-right: 10px;
  }
}

mat-expansion-panel {
  margin: 3px;
  app-tool {
  }
}

.mat-expansion-panel-spacing {
  margin-bottom: 16px !important;
}
