<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panel-header">
      <mat-icon mat-list-icon>business_center</mat-icon>
      {{ toolbox.model }}
    </mat-panel-title>
    <mat-panel-description class="panel-header">
      Toolbox details
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div>

    <div *ngIf="(craftsman$ | async) as craftsman">
      <p>
        <strong>Owner:</strong> {{ craftsman.firstName }} {{ craftsman.lastName }}
      </p>
    </div>
    <p>
      <strong>Color:</strong> {{ toolbox.color }}
    </p>
    <p *ngIf="toolbox.dateAcquired">
      <strong>Date aquired:</strong> {{ toolbox.dateAcquired.toLocaleString('en-GB', {}) }}
    </p>
    <p>
      <strong>Make:</strong> {{ toolbox.make }}
    </p>
    <p>
      <strong>Serial number:</strong> {{ toolbox.serialNumber }}
    </p>

    <div *ngFor="let tool of tools$ | async">
      <app-tool [tool]="tool"></app-tool>
    </div>
  </div>
</mat-expansion-panel>